/* COMMON */
:root {
    --main-blue: #526C9E;
    --main-lightblue: #91B0EB;
    --main-pink: #EBC0B8;
}
@font-face {
    font-family: 'main';
    src: url('/font/NotoSansKR-Regular.woff2');
}
@font-face {
    font-family: 'bold';
    src: url('/font/NotoSansKR-Bold.woff2');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'main';
    font-size: 15px;
}
html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    width: 100%;
    height: 100%;
    max-width: 390px;
    max-height: 845px;
    position: relative;
}
main {
    width: 100%;
    height: 100%;
    background: url('/image/background.png');
    backdrop-filter: blur(10);
    margin: 0 auto;
    padding-top: 75px;
    filter: blur(10);
    position: relative;
    opacity: 1;
    transition: 1.5s ease 0s;
}
object {
    pointer-events: none;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 15px;
}
.button__header {
    width: 50px;
    height: 50px;
    padding: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 3px 7px #00000017;
}

/* FOOTER */
footer {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    box-shadow: 0px -5px 5px #00000016;
}
.footer__button {
    flex: 1;
    text-align: center;
    padding-bottom: 30px;
    cursor: pointer;
    opacity: .5;
}
.footer__button.active {
    opacity: 1;
}
/* INTRO */
.intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: -75px;
}
@keyframes intro {
    from {
        transform: translateY(350px) scale(1);
    }
    to {
        transform: translateY(50px) scale(.7);
    }
}
@keyframes moves {
    0% {
        transform: translateY(50px) scale(.7);
    }
    50% {
        transform: translateY(30px) scale(.7);
    }
    100% {
        transform: translateY(50px) scale(.7);
    }
}
.intro__simbol {
    transform: translateY(350px);
    animation-fill-mode: forwards;
    animation-name: intro, moves;
    animation-delay: 3s, 6s;
    animation-duration: 3s, 3s;
    animation-timing-function: ease, ease-in-out;
    animation-iteration-count: 1, infinite;
}
/* ROOM */
@keyframes room {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.room {
    width: 100%;
    height: 100%;
    flex: 1;
    margin-top: 50px;
    overflow-x: hidden;
    opacity: 0;
    animation: room 1s ease-in-out 5s forwards;
}
.room__cover {
    width: 300%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    overflow-x: auto;
    transform: translate(calc(-100% / 3));
    transition: 2s ease-in-out;
}
.room__buttons {
    height: 50%;
    display: flex;
    padding: 5rem;
    gap: 1rem;
}
.room__button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: .5rem;
}
.room__create {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}
.room__find {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

/* LOVE-TIMER */
love-timer {
    color: transparent;
}
.lovetimer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    box-shadow: inset 1px 1px 5px 1px #aaa, 1px 1px 5px 1px #aaa;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
}
.lovetimer__day {
    font-size: 55px;
    text-shadow: 1px 1px 1px #333;
    font-weight: 800;
}
.lovetimer__date {
    margin-top: -10px;
}

/* PROFILE */
.profile__list {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.profile__image {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #0000003d;
    overflow: hidden;
    border: 2px solid #fff;
}
.profile__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile__name {
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

/* CALENDAR */
.calendar__title {
    font-size: 35px;
    font-family: 'bold';
    color: #fff;
    padding-left: 30px;
}
.calendar {
    width: 100%;
    height: 83%;
    border-radius: 25px 25px 0 0;
    background-color: rgb(255 255 255 / 75%);
    bottom: 0;
    position: absolute;
    padding: 10px 0;
}
.calendar__header {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}
.calendar__label {
    font-size: 20px;
    color: #73718F;
}
.calendar__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar__body {
    padding: 5px 40px;
}
.calendar__row {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__row.week > div {
    font-size: 13px;
    color: #73718f8c;
}
.calendar__row > div {
    height: 44px;
    padding: 10px 5px;
    color: #73718F;
    border-radius: 5rem;
}
.calendar__row > div.today {
    background-color: #FFBEBEAA;
    backdrop-filter: opacity(.9);
}
.calendar__row > div:hover { 
    background-color: #fff;
}

/* SCHEDULE */
.schedule__title {
    font-size: 20px;
    font-weight: bold;
    padding: 0 40px;
    color: #73718F;
    margin-top: 5px;
}

/* DDAYS */
.ddays__title {
    color: #fff;
    padding: 0 35px;
    padding-bottom: 5px;
}
.ddays__list {
    width: 100%;
    height: 700px;
    padding: 10px 30px;
    padding-bottom: 60px;
    position: relative;
    overflow: auto;
}
.ddays__list::-webkit-scrollbar {
    width: 0;
}
.ddays__cover {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    height: fit-content;
    overflow-y: auto;
}
.ddays__card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000016;
    padding: 20px 30px;
}
.ddays__label--bold {
    font-size: 20px;
    color: #73718F;
    font-weight: 800;
}
.ddays__label--light {
    font-size: 12px;
    color: #73718F;
}
.ddays__label--red {
    font-size: 20px;
    color: #DB868A;
    font-weight: 800;
}
.ddays__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}